@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table table-bordered">
        <tr>
            <td> <label asp-for="Email"></label> </td>
            <td>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="Password"></label> </td>
            <td>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="RememberMe"></label> </td>
            <td>
                <input asp-for="RememberMe" class="form-check-input" /> 
                <label asp-for="RememberMe"></label>
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Login" />
            </td>
        </tr>
    </table>
</form>

